* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: rgb(66, 61, 85);
}

.app {
  background-image: url(../src/images/background_img.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 10px;
  background-color: whitesmoke;
}

.TaskCardTitleInputArea {
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
  transition: 0.2s;
}

.TaskCardTitleInputArea:hover {
  color: dimgray;
}

.TaskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.TaskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(66, 61, 85);
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  cursor: pointer;
  margin-right: 9px;
  border: none;
}

.TaskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton {
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: dimgray;
  transition: 0.2s;
}

.addTaskCardButton:hover {
  transform: translateY(-5px);
}

.taskCardHeader {
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: rgb(158, 46, 46);
}
